<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace = "com.ganghwan.gangstargram.post.like.dao.LikeDAO">
 
 	<!-- 좋아요 기능 -->
 	<insert id = "insertLike" parameterType = "map">
 	INSERT INTO `like`
 	(
 		`postId`
 		, `userId`
 		, `createdAt`
 	)
 	VALUES
 	(
 		#{postId}
 		, #{userId}
 		, now()
 	)
 	</insert>
 	
 	<!-- 좋아요 불러오기 -->
 	<select id = "selectLikeCount" parameterType = "int"
 	resultType = "int">
 		SELECT
 			count(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 	</select>
 	
 	<!-- 좋아요 여부 확인 -->
 	<select id = "selectLikeCountByUserId" parameterType = "map" resultType = "int">
 		SELECT
 			count(*)
 		FROM
 			`like`
 		WHERE
 			`postId` = #{postId}
 		AND
 			`userId` = #{userId}
 	</select>
 </mapper>