@charset "UTF-8";

#warp {
	width:800px;
	margin:auto;
}

header {
	height:70px;
	background-color: lightgray;
}

.content > .join-box {
	height:400px;
	width:400px;
}

.content > .join-box > .post-box > .postDetail {
	height:30px;
	background-color:  lightgray;
}

footer {
	heigth:50px;
}