@charset "UTF-8";

#warp {
	width:800px;
	margin:auto;
}

header {
	height:70px;
	background-color: lightgray;
}

.content > .timeline {
	height:500px;
	width:400px;
}

.content > .timeline > .area {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.content > .timeline > .post-box::-webkit-scrollbar {
	display:none;
}

.content > .timeline > .post-box > .postDetail {
	height:30px;
	background-color: lightgray;
}

footer {
	heigth:50px;
}

.img-icon {
	font-size:25px;
}